<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.template.dao.mapper.CurrencyHistoryMapper">

    <resultMap id="currencyHistory" type="CurrencyHistory" autoMapping="true">
        <association property="currency" javaType="Currency" autoMapping="true" columnPrefix="currency_"/>
    </resultMap>

    <sql id="getAll">
select
  currency_history.id,
  currency_history.date,
  currency_history.value,
  currency.code as currency_code,
  currency.id as currency_id,
  currency.description as currency_description
from currency_history
       left join currency on currency_history.currency_id = currency.id

    </sql>

    <sql id="filter">
        <where>
            and currency.code = '${currencyCode}'
        </where>
    </sql>



    <select id="getAllByCode" resultMap="currencyHistory" resultType="CurrencyHistory" parameterType="String">
        <include refid="getAll"/>
        <include refid="filter"/>
        order by date desc;
    </select>

    <select id="getLastByCode" resultMap="currencyHistory" resultType="CurrencyHistory" parameterType="String">
        <include refid="getAll"/>
        <include refid="filter"/>
        order by date desc limit 1;
    </select>


</mapper>